@import url('Stylish.css');
.first-screen {
width: 100%;
min-height: 100vh;
padding-top: 80px;
text-align: center;    
background-image: url("../images/texture.jpg");    
}
.header {
height: 100%;
background: #00086b;
text-align: center;  
}
.header-image{
max-width: 40vw;
min-width: 260px;    
height: auto; 
display: inline;    
}
.menu-div {
display: none;
width: 150px;
background: #ffffff;
border-radius: 2px;    
position: absolute;
margin-left: 81%; 
margin-top: 2px;    
}
.menu-icon {
float: right;
display: inline;
margin-right: 3px;
margin-top: 5px;    
}
.second-screen {
font-family: 'Stylish', sans-serif;
color: white;
font-size: calc(15px + 1vw);
background: #233160;
background-image: url("../images/texture.jpg");    
width: 100%;
min-height: 100vh;
text-align: center;    
}
.item1 {
background: purple;
border: 2px solid white;    
border-radius: 5px;    
}
.item2{
background: orange;
border: 2px solid white;       
border-radius: 5px;     
}
.item3{
background: #00ff00;
border: 2px solid white;       
border-radius: 5px;     
}
.instruction-title {
font-size: calc(20px + 1.5vw);
text-align:center;
margin-bottom: 20px;
padding-top: 2%;
}
.first-instructions {
margin-left:9%;
margin-right:9%;
}

.btn-outline-success {
margin-top: 3.5%;
margin-bottom: 15px;
color: #ffffff;
font-size: 20px;  
}
.btn-outline-info{
margin-right: 3%;
margin-bottom: 15px;
color: #ffffff;
font-size: 20px;
}
.shuffling {
width: 57vw;
margin: auto;
position: absolute;    
left: 0;
right: 0;
top: 0;
bottom: 0;    
}
.img {
display:inline;
width: 7.5vw;
min-width: 35px;    
margin-right: 15px; 
margin-bottom: 10px; 
border: 2px solid #ffffff;
border-radius: 2px;        
}
.selected {
opacity: 0.5;    
}
#show-cards {
padding-top: 1%;
margin-left: 3.5%;
margin-right: 3.5%;   
}
#cards {
text-align: center;
}
.spread {
width: 18vw;
min-width: 40px;     
border: 4px solid #ffffff;
border-radius: 4px;    
margin-right: 5px;    
display: inline;
}
.spread2 {
width: 16vw;
min-width: 40px;     
border: 4px solid #ffffff;
border-radius: 4px;    
margin-right: 5px; 
margin-bottom: 3px;    
display: inline;
}
.display2 {
display: none;
}
.meaning { 
padding-top: 10px;    
}

 /* The Modal (background) */
.tarotModal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.tarotModal-content {
background-color: #fefefe;
margin: 15% auto; /* 15% from the top and centered */
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.2);
border-radius: .3rem;
width: 80%; /* Could be more or less, depending on screen size */
}
.tarotModal-header {
padding: 2px 16px;    
background: #fafafa;
border-bottom: #e9ecef 1px solid; 
border-top-left-radius: .3rem;
border-top-right-radius: .3rem;    
color: #000000;
font-size: 25px;   
    
}
.tarotModal-text {
font-size:calc(12px + 0.5vw);
color: #000000;
margin: 10px 10px 10px 10px;  
text-align: justify;    
}

/* The Close Button */
.tarotClose {
float: right;
margin-bottom: 2px;    
}
.tarotClose:hover,
.tarotClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
.no-scroll {
overflow-y: hidden;
}

